@import "./colours.scss";

body {
  // overflow-x: hidden;
  // overflow-y: visible;
  // overflow: hidden;
  // margin: 0;
  // padding: 0;
  // background: linear-gradient(
  //   90deg,
  //   rgba(239, 61, 97, 1) 50%,
  //   rgba(0, 185, 195, 1) 50%
  // );
  background-color: $black;
  color: $white;
  letter-spacing: 2px;
  height: auto;
  max-width: 100vw;
  // overflow: scroll;
}
